.otp-step {
  display: flex;
  flex-direction: column;
  gap: 35px;
  align-items: center;
  .otp-header {
    color: #f9e7c5;
    text-align: center;
  }
  .otp-form {
    padding: 40px 35px;
    background: #88381380;
    border-radius: 40px;
    margin-bottom: 220px;

    .otp-container {
      display: flex;
      flex-direction: column;
      gap: 40px;
      align-items: center;
      > div:first-child {
        display: flex;
        flex-direction: column;
        gap: 12px;
        p {
          text-align: right;
          font-size: 20px;
        }
        .otp-inputs {
          padding: 15px 230px;
          background: #883813;
          border-radius: 40px;
          .OTP {
            gap: 25px !important;
            .input-container {
              width: 25px;
              height: 25px;
              input {
                color: #000;
              }
            }
          }
        }
      }
      .resend-code {
        background: transparent;
        color: #f9e7c5;
        font-size: 38px;
        opacity: 0.7;
      }
    }
    .send-otp {
      width: 100%;
      text-align: center;
    }
  }
}
