.what {
  background-color: #883813;
  color: #f9e7c5;
}

.what .what-cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
}

.what-cont p {
  width: 536px;
  font-size: 30px;
  text-align: end;
}

.what .what-cont h3 {
  font-size: 40px;
}

@media (max-width: 768px) {
  .what .what-cont {
    flex-direction: column;
  }
  .what .what-cont p {
    width: auto;
  }
}
@media (max-width: 500px) {
  .what-cont {
    flex-direction: column-reverse !important;
    gap: 30px;
  }
  .what-cont > img {
    width: 70px;
    height: 74px;
  }
  .what-cont h3 {
    font-size: 32px !important;
  }
  .what-cont p {
    font-size: 28px !important;
    width: 90% !important;
    font-weight: 300 !important;
    text-align: center;
  }
}