.what {
  background-color: #883813;
  color: #f9e7c5;
}

.what .what-cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
}
.what .rotating-img {
  width: 200px;
  animation: rotateRightLeft 3s infinite ease-in-out;
}

@keyframes rotateRightLeft {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(20deg); /* يمين */
  }
  100% {
    transform: rotate(0deg); /* يرجع */
  }
}

.what-cont p {
  width: 536px;
  font-size: 30px;
  text-align: end;
}

.what .what-cont h3 {
  font-size: 40px;
}

@media (max-width: 768px) {
  .what .what-cont {
    flex-direction: column;
  }
  .what .what-cont p {
    width: auto !important;
  }
}