.com {
  background-color: rgba(249, 231, 197, 1);
  background-image: url(../cq.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;
}

.com .com-cont {
  height: 90vh;
  padding-bottom: 30px;
}

.com .com-cont h1 {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
  color: rgba(136, 56, 19, 1);
}

.com .com-cont .cards {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 1.3rem;
}

.com .com-cont .card {
  width: 50%;
  border: none;
  border-radius: 40px;
  background-image: linear-gradient(
    to right,
    rgba(136, 56, 19, 0.5),
    rgba(136, 56, 19, 1)
  );
  color: rgba(249, 231, 197, 1);
  cursor: pointer;
  transition: transform 1s ease, box-shadow 1s ease; 
}

.com .com-cont .card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.15);
}
.com .com-cont .card .q-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
    margin: 14px 19px -14px 19px;
}

.com .com-cont .card .q-card img {
  width: 40px;
  transition: filter 1s ease;
}

/* الصورة تتغير مع active */
.com .com-cont .card.active img {
  filter: sepia(1) saturate(3) hue-rotate(30deg) brightness(3);
}

/* الجواب (مخفي افتراضي) */
.com .com-cont .card p {
  text-align: end;
  font-size: 1.4rem;
  margin: 14px;
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 1s ease, max-height 1s ease;
}

/* يظهر عند التفعيل */
.com .com-cont .card.active p {
  opacity: 1;
  max-height: 200px; /* كفاية لأي نص */
}

