.sign{
    margin-top: 5rem;
    margin-bottom: 5rem;
}
.sign .sign-cont{    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.sign h1{
    font-size: 4rem;
    margin-bottom: 3rem;
    color: rgba(249, 231, 197, 1);
}
.sign h3{
    font-size: 2rem;
    margin-bottom: 3rem;
    color: rgba(249, 231, 197, 1);
}
.sign .links{
    display: flex;
    flex-direction: column;
}
.sign .links .date{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.sign .links .date p{
    font-size: 2rem;
    font-weight: 700;
    color: rgba(249, 231, 197, 1);
    opacity: .7;
}
.sign .links a{
    margin-top: 1rem;
    text-decoration: none;
    font-size: 2rem;
    font-weight: 700;
    color: rgba(249, 231, 197, 1);
    opacity: .7;
}

input[type="date"] {
  width: 210px;
  padding: 10px;
  border: 1px solid transparent;
  border-radius: 3rem;
  font-size: 2rem;
  color: rgba(249, 231, 197, 1);
  background-color: rgba(136, 56, 19, 1);
}
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
}