.dis .cards .card {
  position: relative;
  background-color: #883813;
  border-radius: 10 px;
  padding: 1.4rem;
  margin-top: 80px;
  width: 100%;
  height: max-content;
  color: #f9e7c5;
  font-weight: 700;
}

.dis .cards .card .card-num {
  width: 50px;
  height: 50px;
  background-color: #883813;
  transform: rotate(45deg);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -25px;
  left: -26px;
}

.dis .cards .card .card-num .number {
  color: white;
  font-size: 20px;
  font-weight: bold;
  transform: rotate(-45deg);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.dis .cards .card .card-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dis .cards .card .card-info p {
  margin: 0;
  opacity: 0.6;
  font-size: 1.3rem;
}

.dis .card button {
  width: 91.0882034302;
  height: 51.0965805054;
  border-radius: 45px;
  padding: 5px 23px;
  color: #f9e7c5;
  font-size: 1.7rem;
  border: none;
  border-radius: 45px;
  background: linear-gradient(90deg, rgba(207, 138, 65, 0.1) 37.5%, #cf8a41 100%);
}

.h-cont h1 {
  margin: 0 !important;
}

.h-cont .cont-info {
  width: auto;
}

.add-button > button {
  margin: 0 !important;
}

.dfooter {
  position: fixed;
  bottom: 0;
}

.group-links {
  margin: 0 !important;
}
.group-links .group-link {
  padding: 8px 12px !important;
  gap: 12px !important;
  align-items: center;
  flex-wrap: nowrap;
}
.group-links .group-link > a {
  font-size: 16px !important;
  white-space: nowrap;
}
.group-links .group-link > a:nth-child(2) {
  background: none;
  padding: 0;
}
.group-links .group-link .g-active {
  background-color: #cf8a41 !important;
  padding: 4px 8px !important;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}