.game-result {
  height: 90vh;
  background: url("/game-result-background.png") center/contain no-repeat;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2.5vh;
  align-items: center;
  justify-content: center;
  padding: 0 1.39vw;
  padding-top: 152px;
  direction: rtl;
  color: var(--credam, #f9e7c5);
  max-width: 83.33vw !important;
  margin: 0 auto;
}
.game-result .header-section {
  display: flex;
  flex-direction: column;
  gap: 1.2vh;
}
.game-result .header-section h1,
.game-result .header-section h3 {
  text-align: center;
}
.game-result .header-section h1 {
  font-size: 3.33vw;
  line-height: normal;
}
.game-result .header-section h3 {
  font-size: 2.5vw;
  line-height: normal;
}
.game-result .result-section {
  padding-top: 3vh;
  display: flex;
  gap: 4.86vw;
  align-items: flex-end;
}
.game-result .result-section .player {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.5vh;
  font-size: 1.67vw;
}
.game-result .result-section .player .player-name {
  display: flex;
  height: 57px;
  justify-content: center;
  align-items: center;
  font-size: 3.75vw;
  padding: 1vh 2.08vw 2vh;
  border-radius: 42.505px;
  background: rgba(249, 231, 197, 0.1);
}
.game-result .result-section .player .player-points {
  position: relative;
  width: 9.19vw;
  height: 3.95vh;
  background: var(--dark-brown, #883813);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.5;
}
.game-result .result-section .player .player-points .square {
  position: absolute;
  background: var(--golden-sand, #cf8a41);
  width: 1.94vw;
  height: 1.94vw;
  transform: rotate(45deg);
  flex-shrink: 0;
}
.game-result .result-section .player .player-points .square-right {
  right: -14px;
}
.game-result .result-section .player .player-points .square-left {
  left: -14px;
}
.game-result .result-section .winner {
  font-size: 2.08vw !important;
}
.game-result .result-section .winner .player-name {
  margin-bottom: 2vh;
}
.game-result .result-section .winner .player-points {
  width: 11.36vw !important;
  height: 4.89vh !important;
  opacity: 1;
}
.game-result .result-section .winner .player-points .square {
  width: 2.5vw !important;
  height: 2.5vw !important;
}
.game-result .result-section .winner .player-points .square-right {
  right: -1.25vw;
}
.game-result .result-section .winner .player-points .square-left {
  left: -1.25vw;
}
.game-result .actions-section {
  margin-top: 2vh;
  display: flex;
  align-items: center;
  gap: 2.43vw;
}
.game-result .actions-section button {
  display: flex;
  align-items: center;
  gap: 1.39vw;
  font-size: 1.94vw;
  padding: 0.5vh 1.6vw !important;
}
.game-result .actions-section button svg {
  width: 1.74vw !important;
  height: 1.74vw !important;
}