@charset "UTF-8";
.hero {
  position: relative;
  z-index: 1;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero > .container {
  margin-top: -18.3vh;
}
.hero .back-img {
  position: relative;
}
.hero .back-img .black-background {
  width: max(49.375vw, 305px) !important;
  height: 51.44vh !important;
  z-index: 1;
  top: 0;
  left: 0;
}
.hero .back-img .main-background {
  position: absolute;
  width: max(43.828125vw, 300px) !important;
  height: 45.55vh !important;
  top: 3.85vh !important;
  left: 2.7vw !important;
  z-index: 2;
}
.hero .back-img .info-f {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  top: -420px;
  background-image: url("/sandframe.png");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.18;
  z-index: -4;
}

.hero-cont {
  top: 40%;
  left: 50%;
  text-align: center;
}

.hero .container {
  position: relative;
}

.hero-cont .back-img {
  display: inline-block;
}

.hero-cont .back-img img:nth-child(3) {
  top: 4px;
  z-index: 2;
  width: 92%;
  left: 32px;
}

.hero-cont .back-img img:last-child {
  display: none;
}

.hero-cont .back-img * {
  font-size: max(1.328125vw, 28px) !important;
}

.hero .tress {
  position: absolute;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  bottom: 0;
  width: 100%;
  padding: 0 2vw;
}
@media (min-width: 1000px) {
  .hero .tress > img:first-child {
    width: 13.13vw !important;
    height: 26.4vh !important;
  }
  .hero .tress > img:nth-child(2) {
    width: 9.03vw !important;
    height: 18.1vh !important;
  }
  .hero .tress > img:nth-child(3) {
    width: 9.03vw !important;
    height: 20.9vh !important;
  }
  .hero .tress > img:last-child {
    width: 17.15vw !important;
    height: 39.7vh !important;
  }
}

.hero .tress .camel {
  position: absolute;
  left: 21%;
  transform: translate(-20%, 0%);
  z-index: 4;
  animation: moveFlip 30s infinite linear;
}

@keyframes moveFlip {
  0% {
    transform: translate(-20%, 0%) scaleX(-1);
    /* البداية شمال عادي */
  }
  2% {
    transform: translate(-20%, 0%) scaleX(1);
    /* يقلب بسرعة */
  }
  50% {
    transform: translate(200%, 0%) scaleX(1);
    /* يمين وهو مقلوب */
  }
  52% {
    transform: translate(200%, 0%) scaleX(-1);
    /* يقلب بسرعة في اليمين */
  }
  100% {
    transform: translate(-20%, 0%) scaleX(-1);
    /* يرجع شمال */
  }
}
.hero .tress img:first-child {
  width: 300px;
}

.hero .tress img:nth-child(2) {
  width: 200px;
  z-index: 5;
}

.hero .tress img:nth-child(3) {
  width: 375px;
}

.hero .tress img:last-child {
  width: 400px;
}

@media (max-width: 1439px) {
  .hero .tress > img:nth-child(odd) {
    width: 120px !important;
  }

  .hero .tress > img:nth-child(even) {
    width: 140px !important;
  }
}
@media (max-width: 700px) {
  .hero .tress > img:nth-child(odd) {
    width: 70px !important;
  }

  .hero .tress > img:nth-child(even) {
    width: 100px !important;
  }

  .hero .play {
    margin-top: 0 !important;
    font-size: 16px !important;
  }

  .help-info img {
    width: 100% !important;
  }
}
@media (max-width: 460px) {
  .info-f h2,
.info-f h3 {
    font-size: 1.328125vw !important;
  }
}
@media (max-width: 390px) {
  .hero .tress > img:nth-child(odd) {
    width: 50px !important;
  }

  .hero .tress > img:nth-child(even) {
    width: 80px !important;
  }
}