.hero {
  position: relative;
  z-index: 1;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  > .container {
    margin-top: -18.3vh;
  }
  .back-img {
    position: relative;
    // margin: 20px 0;
    .black-background {
      width: max(49.375vw, 305px) !important;
      height: 51.44vh !important;
      z-index: 1;
      top: 0;
      left: 0;
    }
    .main-background {
      position: absolute;
      width: max(43.828125vw, 300px) !important;
      height: 45.55vh !important;
      top: 3.85vh !important;
      left: 2.7vw !important;
      z-index: 2;
    }
    // .main-background ::before {
    //   content: "";
    //   position: absolute;
    //   inset: 0;
    //   // background-image: url("/sandframe.png");
    //   // background-image: url("/golden-sand.png");
    //   // background-image: url("/sandeffect.jpeg");
    //   // background-position: top;
    //   background-position: center -50px;
    //   background-repeat: repeat;
    //   background-size: cover;
    //   background-size: 300%;

    //   filter: brightness(0.9) contrast(0.95);
    //   opacity: 0.15;
    //   // z-index: 100;
    //   // background-image: repeating-radial-gradient(
    //   //     circle at 10% 20%,
    //   //     rgba(0, 0, 0, 0.05) 0,
    //   //     rgba(0, 0, 0, 0.05) 1px,
    //   //     transparent 4px,
    //   //     transparent 8px
    //   //   ),
    //   //   repeating-radial-gradient(
    //   //     circle at 80% 30%,
    //   //     rgba(255, 255, 255, 0.03) 0,
    //   //     rgba(255, 255, 255, 0.03) 1px,
    //   //     transparent 3px,
    //   //     transparent 6px
    //   //   ),
    //   //   repeating-radial-gradient(
    //   //     circle at 50% 80%,
    //   //     rgba(0, 0, 0, 0.04) 0,
    //   //     rgba(0, 0, 0, 0.04) 1px,
    //   //     transparent 2px,
    //   //     transparent 5px
    //   //   ),
    //   //   repeating-radial-gradient(
    //   //     circle at 0 0,
    //   //     rgba(0, 0, 0, 0.03) 0,
    //   //     rgba(0, 0, 0, 0.03) 1px,
    //   //     transparent 6px,
    //   //     transparent 10px
    //   //   ),
    //   //   repeating-radial-gradient(
    //   //     circle at 100% 100%,
    //   //     rgba(0, 0, 0, 0.04) 0,
    //   //     rgba(0, 0, 0, 0.04) 1px,
    //   //     transparent 5px,
    //   //     transparent 9px
    //   //   );
    // }

    // .info-f {
    //   width: 90%;
    //   color: rgba(249, 231, 197, 1);
    //   position: absolute;
    //   z-index: 4;
    //   top: 50%;
    //   right: 50%;
    //   transform: translate(50%, -50%);
    // }
    .info-f {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
    }
  }
}

.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  // background-image: url("/sandframe.png");
  // background-image: url("/sandeffect.jpeg");
  background-image: url("/sand-noise.jpg");
  // background-position: top;
  // background-position: center -500px;
  background-repeat: repeat;
  background-size: cover;
  // background-size: 160%;

  // filter: brightness(0.9) contrast(0.95);
  opacity: 0.05;
  mix-blend-mode: color-dodge;
  z-index: 10000;
  // background-image: repeating-radial-gradient(
  //     circle at 10% 20%,
  //     rgba(0, 0, 0, 0.05) 0,
  //     rgba(0, 0, 0, 0.05) 1px,
  //     transparent 4px,
  //     transparent 8px
  //   ),
  //   repeating-radial-gradient(
  //     circle at 80% 30%,
  //     rgba(255, 255, 255, 0.03) 0,
  //     rgba(255, 255, 255, 0.03) 1px,
  //     transparent 3px,
  //     transparent 6px
  //   ),
  //   repeating-radial-gradient(
  //     circle at 50% 80%,
  //     rgba(0, 0, 0, 0.04) 0,
  //     rgba(0, 0, 0, 0.04) 1px,
  //     transparent 2px,
  //     transparent 5px
  //   ),
  //   repeating-radial-gradient(
  //     circle at 0 0,
  //     rgba(0, 0, 0, 0.03) 0,
  //     rgba(0, 0, 0, 0.03) 1px,
  //     transparent 6px,
  //     transparent 10px
  //   ),
  //   repeating-radial-gradient(
  //     circle at 100% 100%,
  //     rgba(0, 0, 0, 0.04) 0,
  //     rgba(0, 0, 0, 0.04) 1px,
  //     transparent 5px,
  //     transparent 9px
  //   );
}

.hero-cont {
  top: 40%;
  left: 50%;
  text-align: center;
}
.hero .container {
  position: relative;
}
.hero-cont .back-img {
  // position: absolute;

  display: inline-block;
}
.hero-cont .back-img img:nth-child(3) {
  top: 4px;
  z-index: 2;
  width: 92%;
  left: 32px;
}

.hero-cont .back-img img:last-child {
  display: none;
}

.hero-cont .back-img {
  * {
    // width: 110%;
    font-size: max(1.328125vw, 28px) !important;
  }
}

.hero .tress {
  position: absolute;
  // margin-top: 230px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  bottom: 0;
  width: 100%;

  padding: 0 2vw;
  @media (min-width: 1000px) {
    > img:first-child {
      width: 13.13vw !important;
      height: 26.4vh !important;
    }
    > img:nth-child(2) {
      width: 9.03vw !important;
      height: 18.1vh !important;
    }
    > img:nth-child(3) {
      width: 9.03vw !important;
      height: 20.9vh !important;
    }
    > img:last-child {
      width: 17.15vw !important;
      height: 39.7vh !important;
    }
  }
}
.hero .tress .camel {
  position: absolute;
  left: 21%;
  transform: translate(-20%, 0%);
  z-index: 4;
  animation: moveFlip 30s infinite linear;
}

@keyframes moveFlip {
  0% {
    transform: translate(-20%, 0%) scaleX(-1); /* البداية شمال عادي */
  }
  2% {
    transform: translate(-20%, 0%) scaleX(1); /* يقلب بسرعة */
  }
  50% {
    transform: translate(200%, 0%) scaleX(1); /* يمين وهو مقلوب */
  }
  52% {
    transform: translate(200%, 0%) scaleX(-1); /* يقلب بسرعة في اليمين */
  }
  100% {
    transform: translate(-20%, 0%) scaleX(-1); /* يرجع شمال */
  }
}

.hero .tress img:first-child {
  width: 300px;
  // margin-left: 2rem;
}

.hero .tress img:nth-child(2) {
  width: 200px;
  z-index: 5;
}

.hero .tress img:nth-child(3) {
  width: 375px;
}
.hero .tress img:nth-child(4) {
}
.hero .tress img:last-child {
  width: 400px;
  // margin-right: 2rem;
}

@media (max-width: 1439px) {
  .hero .tress > img:nth-child(odd) {
    width: 120px !important;
  }
  .hero .tress > img:nth-child(even) {
    width: 140px !important;
  }
}
// @media (min-width: 770px) {
//   .hero-cont .back-img {
//     width: 440px;
//     transform: translate(26%, -80%);
//   }
// }
// @media (min-width: 991px) {
//   .hero-cont .back-img {
//     width: 440px;
//     transform: translate(54%, -80%);
//   }
// }
// @media (min-width: 1200px) {
//   .hero-cont .back-img {
//     width: 466px;
//     transform: translate(72%, -80%);
//   }
// }
// @media (min-width: 1400px) {
//   .hero-cont .back-img {
//     width: 466px;
//     transform: translate(88%, -80%);
//   }
// }
// @media (min-width: 1440px) {
//   .hero-cont .back-img {
//     width: 655px;
//     transform: translate(47%, -51%);
//   }
// }
// @media (max-width: 768px) {
//   .hero .back-img {
//     width: 430px !important;
//     margin-top: -155px;
//   }
//   .hero .back-img .info-f {
//     top: 55%;
//   }
//   .hero .back-img .info-f h2 {
//     margin-bottom: 12px;
//     width: auto !important;
//   }
//   .hero .back-img .info-f h1,
//   .hero .back-img .info-f h2 {
//     font-size: 20px;
//   }
//   .hero {
//     .tress {
//       margin-top: 300px !important;
//     }
//   }
//   .info-f {
//     width: 100% !important;
//     > h2 {
//       margin-top: 0 !important;
//     }
//   }
//   .play {
//     margin: 0 !important;
//   }
// }
@media (max-width: 700px) {
  .hero .tress > img:nth-child(odd) {
    width: 70px !important;
  }
  .hero .tress > img:nth-child(even) {
    width: 100px !important;
  }
  // .hero .back-img {
  //   width: 320px !important;
  //   margin-top: -127px;
  // }
  // .hero .back-img .info-f {
  //   top: 52% !important;
  //   width: 100%;
  // }
  // .hero .back-img .info-f h2 {
  //   margin-bottom: 12px;
  //   width: auto !important;
  // }
  // .hero .back-img .info-f h1,
  // .hero .back-img .info-f h2 {
  //   font-size: 20px;
  // }
  .hero .play {
    margin-top: 0 !important;
    font-size: 16px !important;
  }

  .help-info img {
    width: 100% !important;
  }
}
@media (max-width: 460px) {
  // .hero-cont .back-img {
  //   left: 40%;
  // }
  .info-f {
    h2,
    h3 {
      font-size: 1.328125vw !important;
    }
  }
}
@media (max-width: 425px) {
  // .hero .back-img {
  //   width: 300px !important;
  //   margin-top: -155px;
  // }
}
@media (max-width: 390px) {
  .hero .tress > img:nth-child(odd) {
    width: 50px !important;
  }
  .hero .tress > img:nth-child(even) {
    width: 80px !important;
  }
  // .hero .back-img {
  //   width: 290px !important;
  // }
}
