.h-cont{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    color: rgba(249, 231, 197, 1);
}
.h-cont .back-btn button{
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 0;
    background-color: #8B4513;
    transform: rotate(45deg);
}
.h-cont .back-btn button img{
    position: absolute;
    top: 9px;
    right: 7px;
    transform: rotate(-45deg);
}
.h-cont .cont-info{
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    width: 317px;
    gap: 6px;
}
.h-cont h1{
    margin-left: 170px;
}
.h-cont .cont-info .info{
    display: flex;
    flex-direction: row-reverse;
    gap: 1rem;
}
.h-cont .cont-info .info h3{
  opacity: .6;
}
.h-cont .cont-info .info p{
  font-size: 1.6rem;
  font-weight: 700;
  margin: 0;
}
.d-mess .d-mess-cont .cards{
    margin-top: 80px;
    padding: 3rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2.3rem;
}
.d-mess .d-mess-cont .cards .card{
    position: relative;
    background-color: rgba(136, 56, 19, 1);
    border-radius: 10 px;
    padding: 1.4rem;
    margin-top: 35px;
    width: 48%;
    height: max-content;
    max-width: 50%;
    color: rgba(249, 231, 197, 1);
    font-weight: 700;
}
.d-mess .d-mess-cont .cards .card .card-num{
    width: 50px;
    height: 50px;
    background-color: rgba(136, 56, 19, 1);
    transform: rotate(45deg);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -25px;
    left: -26px;
}
.d-mess .d-mess-cont .cards .card .card-num .number{
    color: white;
    font-size: 20px;
    font-weight: bold;
    transform: rotate(-45deg);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
.d-mess .d-mess-cont .cards .card .card-info .main-info{
    display: flex;
    justify-content: space-between;
    font-weight: 700;
}

.d-mess .d-mess-cont .cards .card .card-info .contact-info p{
    margin: 0;
    font-size: 1.6rem;
    opacity: .6;
}

.d-mess .d-mess-cont .cards .card .card-info .mess{
    margin: 1rem;
    height: 300px;
    background-color: rgba(249, 231, 197, 0.1);
    border-radius: 10px;
}

.d-mess .d-mess-cont .cards .card .card-info .mess p{
      text-align: right;
    font-weight: 600;
    opacity: .6;
    font-size: 1.6rem;
    padding-right: 20px;
    padding-top: 9px;
    padding-left: 10px;
}
@media screen and (max-width: 1199px) {
.d-mess .d-mess-cont .cards{
        justify-content: center;

}
.d-mess .d-mess-cont .cards .card{
    width: 100%;
    max-width: 100%;
}
}
@media screen and (max-width: 480px) {
.h-cont h1{
    margin: 0;
}

.h-cont .cont-info{
        display: block;
    width: max-content;
}
.d-mess .d-mess-cont .cards .card .card-info .main-info ,
.d-report .cards .card .card-info .main-info,
.dis .cards .card .card-info,
.cate .cards .card .card-info ,
.control .cards .card .info{
    flex-direction: column-reverse;
    align-items: center;
}
.dis .cards .card .card-info,
.cate .cards .card .card-info{
    gap: 1rem;
}
.control .cards .card .info h2{
    width: max-content;
}
}