.foot {
  background-color: #883813;
}

.camel {
  padding-top: 3rem;
}

.foot-cont {
  text-align: center;
}

.back-img {
  position: relative;
  width: 730px;
  height: 500px;
  display: inline-block;
  margin: 20px 0;
}

.back-img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.back-img img:first-child {
  z-index: 1;
}

.back-img img:nth-child(3) {
  z-index: 2;
  width: 95%;
  left: 24px;
}

.back-img img:last-child {
  z-index: 3;
  position: absolute;
  top: 20rem;
  left: 90px;
  height: max-content;
}

.back-img .info-f {
  color: #f9e7c5;
  position: absolute;
  z-index: 4;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.foot .btn-play:hover .an1 {
  background-color: #000000;
  top: 78px;
  left: 68px;
  rotate: 70deg;
}

.foot .btn-play:hover .an2 {
  background-color: #853510;
  top: 93px;
  left: 104px;
  rotate: 143deg;
}

.foot .btn-play:hover .an3 {
  background-color: #f4be32;
  top: 93px;
  left: 141px;
  rotate: 125deg;
}

.foot .btn-play:hover .an4 {
  background-color: #f9e7c5;
  top: 81px;
  left: 176px;
  rotate: 102deg;
}

.back-img .info-f button {
  margin-top: 30px;
  border-radius: 45px;
  padding: 5px 23px;
  color: #f9e7c5;
  font-size: 1.7rem;
  border: none;
  background: linear-gradient(90deg, rgba(136, 56, 19, 0.1) 37.5%, #883813 100%);
}

.foot .links .link-cont {
  background-color: #cf8a41;
  background-image: url(../footer.png);
  background-position: right center;
  background-repeat: no-repeat;
  border-top-left-radius: 35px;
  padding: 0 5% 0 20%;
  color: #f9e7c5;
}

.foot .links .link-cont .p-police p {
  text-align: center;
  font-size: 1.4rem;
  margin: 0;
}

.foot .links .link-cont .f-links {
  display: flex;
  justify-content: space-between;
}

.foot .link-cont .f-logo .line {
  width: 196px;
  height: 33px;
  background-image: url(./ydot.png);
  background-size: 33px;
}

.foot .links .link-cont .f-links .all-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 65%;
  margin-left: 2rem;
  font-size: 2rem;
}

.foot .links .link-cont .f-links .all-links a {
  text-decoration: none;
  color: #f9e7c5;
}
.foot .links .link-cont .f-links .all-links p {
  text-decoration: #883813;
}

.foot .links .link-cont .f-links .all-links a.active-f {
  color: #883813;
}

.foot .links .link-cont .f-links .all-links .game-links,
.foot .links .link-cont .f-links .all-links .police-links {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  margin-bottom: 20px;
}

.foot .links .link-cont .f-links .f-logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  color: #f9e7c5;
}
.foot .links .links-icons {
  display: flex;
  justify-content: space-between;
}
.foot .links .links-icons img {
  width: 60px;
  cursor: pointer;
}

.foot .links .links-icons img:hover {
  filter: brightness(0) saturate(100%) invert(24%) sepia(14%) saturate(7175%) hue-rotate(355deg)
    brightness(90%) contrast(90%);
}

.link-cont .f-links .f-logo h2 {
  margin-bottom: 20px;
  margin-top: 40px;
  text-align: end;
}

.foot .links .link-cont .f-links .f-logo img {
  width: 12rem;
}

.foot .links .link-cont .f-links .active-f a {
  color: #883813;
}
.camel-img {
  position: static;
  width: 0;
}

.cam-img {
  position: static;
  width: 0;
}

@media (max-width: 1439px) {
  .foot .link-cont {
    padding: 0 5% 0 0 !important;
  }
  .foot .police-links {
    justify-content: center;
    gap: 24px;
  }
}
@media (max-width: 950px) {
  .foot .link-cont {
    background-size: 36% 100% !important;
  }
}
@media (max-width: 768px) {
  .foot .back-img {
    width: 600px !important;
  }
  .foot .info-f {
    top: 50% !important;
    width: 100%;
  }
  .foot .info-f h1,
  .foot .info-f h2 {
    font-size: 20px;
  }
  .foot .play {
    margin-top: 0 !important;
  }
}
@media (max-width: 700px) {
  .foot .camel > img:first-child {
    width: 250px !important;
  }
  .foot .camel > img:last-child {
    width: 80px !important;
  }
  .foot .back-img {
    width: 400px !important;
  }
  .foot .back-img img:last-child {
    width: 80px !important;
    top: 63px !important;
    left: 68px !important;
  }
  .foot .link-cont {
    background-image: none !important;
  }
  .foot .f-logo img {
    margin-top: 20px;
    width: 90px !important;
  }
  .foot .f-logo h2 {
    margin-top: 12px !important;
  }
  .foot .f-logo .line {
    display: none;
  }
  .foot .game-links,
  .foot .police-links {
    font-size: 20px;
  }
}
@media (max-width: 425px) {
  .foot .link-cont {
    border-top-right-radius: 35px;
  }
  .foot .back-img {
    width: 320px !important;
  }
  .foot .back-img img:last-child {
    width: 60px !important;
    top: 51px !important;
    left: 56px !important;
  }
  .foot .info-f {
    top: 52% !important;
    width: 100%;
  }
  .foot .info-f h1,
  .foot .info-f h2 {
    font-size: 20px;
  }
  .foot .play {
    margin-top: 0 !important;
    font-size: 16px !important;
  }

  .game-links,
  .police-links {
    font-size: 14px;
    padding: 2px 14px;
    gap: 8px;
  }
}
@media (max-width: 425px) and (max-width: 410px) {
  .foot .f-links {
    flex-direction: column-reverse;
    align-items: center;
  }
  .foot .f-links .f-logo {
    align-items: center !important;
  }
  .foot .f-links .all-links {
    width: auto !important;
  }
}
@media (max-width: 425px) and (max-width: 350px) {
  .foot .camel > img:first-child {
    width: 200px !important;
  }
  .foot .camel > img:last-child {
    width: 60px !important;
  }
  .foot .back-img {
    width: 280px !important;
  }
}
