.control{
  padding-bottom: 3rem;
}
.control .cards .card {
  margin-top: 3rem;
  margin-bottom: 3rem;
  color: #f9e7c5;
  padding: 50px;
  width: 100%;
  background-color: #883813;
  border-radius: 20px;
  background-repeat: no-repeat;
  background-position: bottom right;
  position: relative;
}

.control .cards .card .info .btn {
  display: flex;
  gap: 4rem;
}

.control .cards .card .info .btn .color {
  width: 91.0882034302;
  height: 51.0965805054;
  border-radius: 45px;
  padding: 5px 23px;
  color: #f9e7c5;
  font-size: 1.7rem;
  border: none;
  border-radius: 45px;
  background: linear-gradient(90deg, rgba(207, 138, 65, 0.1) 37.5%, #cf8a41 100%);
}

.control .cards .card .info .btn .no-color {
  width: 91.0882034302;
  height: 51.0965805054;
  border-radius: 45px;
  padding: 5px 23px;
  color: #f9e7c5;
  font-size: 1.7rem;
  border: none;
  border-radius: 45px;
  background: transparent;
}

.control .cards .card .info h2 {
  margin: 0;
}

.control .cards .card .info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.control .cards .card .inputs {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

.control .cards .card .inputs input {
  padding: 2rem;
  background-color: rgba(249, 231, 197, 0.1);
  border: none;
  margin: 1rem;
  border-radius: 20px;
}

.control .cards .card .inputs input::placeholder {
  color: #f9e7c5;
  font-size: 1.3rem;
  font-weight: 700;
  opacity: 0.6;
  text-align: end;
}

.control .cards .card .tools {
  display: flex;
  gap: 4rem;
  flex-wrap: wrap;
  justify-content: space-between;
}

.control .cards .card .tools .tool {
  display: flex;
  padding: 2rem;
  background-color: rgba(249, 231, 197, 0.1);
  border: none;
  margin: 1rem;
  border-radius: 20px;
  align-items: center;
  flex-direction: row-reverse;
  gap: 1rem;
  width: 488px;
  justify-content: space-around;
  opacity: 0.6;
}

.control .cards .card .tools .tool img {
  width: 1.5rem;
}

.control input {
  direction: rtl;
  color: #ffdccb;
  font-size: 18px;
  margin-right: 0 !important;
  margin-left: 0 !important;
  border-radius: 30px !important;
  height: 80px;
}
.control input::placeholder {
  direction: rtl;
  text-align: right;
  unicode-bidi: plaintext;
}
.control input:focus {
  outline: none;
  border-color: #c0643a;
  box-shadow: 0 0 8px 2px #ffdccb;
}
.control h2 {
  width: auto !important;
}
.control .tool {
  margin-right: 0 !important;
  margin-left: 0 !important;
  padding: 24px 32px !important;
  border-radius: 30px !important;
  width: 345px !important;
  gap: 24px !important;
  cursor: pointer;
}
.control .tool.selected {
  background-color: rgba(249, 231, 197, 0.5) !important;
  opacity: 1 !important;
}