.cat{
    background-image: url(../../../public/catt.png) , url(../../../public/catb.png);
    background-repeat: no-repeat , no-repeat;
    background-size: contain , contain;
    background-position: top , bottom;
    color: rgba(249, 231, 197, 1);
}
.cat .cat-cont{
    height: 130vh;
    padding-top: 300px;
    padding-bottom: 200px;
}
.cat .cat-cont .info{
    display: flex;    
    flex-direction: column;
    align-items: center;
}
.cat .cat-cont h1 , h2{
    text-align: center;
    margin-bottom: 60px;
    width: 500px;
}
.cat .cat-cont .cards{
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    gap: 4rem;
}
.cat .cat-cont .cards .card{
    width: 265px;
    height: 260px;
    background-image: url(../../../public/catcard.png);
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: top ;
    border-radius: 22.8px;
    border: 2px solid;
}
.cat .cat-cont .card .card-info{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.cat .cat-cont .card .card-info img{
    width: 120px;
    margin-top: 60px;
}
.cat .cat-cont .card .card-info h5{
    width: 100%;
    height: 20%;
    margin: 0;
    padding-top: 10px;
    border-bottom-right-radius: 23px;
    border-bottom-left-radius: 23px;
    background-color: rgba(136, 56, 19, 1);
    text-align: center;
    color: rgba(255, 255, 255, 1);
}
.cat .cat-cont .card .card-num{
    width: 50px;
    height: 50px;
    background-color: #8B4513;
    transform: rotate(45deg);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -25px;
    left: -26px;
}
.cat .cat-cont .card .card-num .number{
    color: white;
    font-size: 20px;
    font-weight: bold;
    transform: rotate(-45deg);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
.cat .cat-cont .bar-b{
    display: flex;    
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}
.cat .cat-cont .bar-b button {
    width: 91.08820343017578;
    height: 51.096580505371094;
    border-radius: 45px;
    padding: 5px 23px;
    color: rgba(249, 231, 197, 1);
    font-size: 1.7rem;
    border: none;
    border-radius: 45px;
    background: linear-gradient(90deg, rgba(136, 56, 19, 0.1) 37.5%, #883813 100%);
}