.d-head{
    background-color: rgba(136, 56, 19, 1) ;
    color: rgba(249, 231, 197, 1);
    height: 5rem;
}
.d-head .d-head-cont .side-menu .icon span{
    background-color: rgba(249, 231, 197, 1);
}
.d-head .d-head-cont{
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.side-menu ul{
    list-style: none;
    border-radius: 20px;
    padding: 0px;
    padding-top: 93px;
    background-color: rgba(136, 56, 19, 1);
    position: absolute;
    min-width: 324px;
    left: -12px;
    top: -42px;
    display: none;
    z-index: 1;
}
.side-menu ul li{
    text-align: end;
    font-size: 1.4rem;
    
}