.d-head {
  background-color: #883813;
  color: #f9e7c5;
  height: 5rem;
}

.d-head .d-head-cont .side-menu .icon span {
  background-color: #f9e7c5;
}

.d-head .d-head-cont {
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.side-menu ul {
  list-style: none;
  border-radius: 20px;
  padding: 0px;
  /* padding-top: 93px; */
  background-color: #883813;
  position: absolute;
  min-width: 324px;
  left: -12px;
  top: -15px;
  z-index: 100002;
}

.side-menu ul li {
  text-align: end;
  font-size: 1.4rem;
}

@media (max-width: 1439px) {
  ul {
    min-width: auto !important;
    width: 200px;
  }
  ul li a {
    padding: 8px !important;
  }
  ul li button {
    padding: 8px !important;
  }
}
@media (max-width: 600px) {
  ul {
    width: 150px;
  }
}