.how {
  background-color: #f9e7c5;
  background-image: url(../howttop.png), url(../howtbottom.png);
  background-repeat: no-repeat, no-repeat;
  background-size: contain, contain;
  background-position: top, bottom;
}

.how .how-t-cont {
  padding: 280px 128px 212px 72px;
  color: #883813;
  display: flex;
  gap: 74px;
  align-items: center;
  justify-content: center;
  text-align: end;
  font-size: 30px;
}

.how .how-t-cont .info {
  text-align: end;
  font-size: 30px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.how .how-t-cont .info > h3 {
  font-size: 40px;
}
.how .how-t-cont .info > p {
  font-size: 38px;
  font-weight: 500;
}

.how .how-w-cont h4 {
  text-align: center;
  margin: 0;
  padding-bottom: 40px;
  color: #f9e7c5;
}

@media (max-width: 1440px) {
  .how-w-cont h4 {
    padding: 0 !important;
  }
}
@media (max-width: 767px) {
  .how .how-t-cont {
    flex-direction: column-reverse;
  }
  .how .how-t-cont img {
    width: 300px;
    height: 300px;
  }
}
@media (max-width: 650px) {
  .how {
    background-image: url(../howttop.png) !important;
  }
  .how .how-w-cont {
    background: #883813 !important;
    padding: 24px;
    border-radius: 34px;
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
  }
}
@media (max-width: 500px) {
  .how-t-cont {
    padding: 80px 33px 61px 33px !important;
    align-items: center !important;
    gap: 24px !important;
  }
  .how-t-cont .info {
    gap: 24px !important;
  }
  .how-t-cont > img {
    width: 96px !important;
    height: 94px !important;
  }
  .how-t-cont h3 {
    font-size: 32px !important;
    text-align: center;
  }
  .how-t-cont p {
    font-size: 24px !important;
    text-align: center;
    line-height: 50px;
  }

  .how-w-cont h4 {
    display: flex;
    gap: 22px;
    justify-content: center;
    align-items: center;
    font-size: 20px !important;
  }
  .how-w-cont h4 img {
    width: 30px !important;
    height: 30px !important;
  }
}