.how {
  background-color: #f9e7c5;
  background-image: url(../howttop.png), url(../howtbottom.png);
  background-repeat: no-repeat, no-repeat;
  background-size: contain, contain;
  background-position: top, bottom;
}

.how .how-t-cont {
  height: 130vh;
  color: #883813;
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  text-align: end;
  font-size: 30px;
}

.how .how-t-cont .info {
  text-align: end;
  font-size: 30px;
}

.how .how-w-cont h4 {
  text-align: center;
  margin: 0;
  padding-bottom: 40px;
  color: #f9e7c5;
}

@media (max-width: 1440px) {
  .how-w-cont h4 {
    padding: 0 !important;
  }
}
@media (max-width: 767px) {
  .how .how-t-cont {
    flex-direction: column-reverse;
  }
  .how .how-t-cont img {
    width: 300px !important;
    height: 300px !important;
  }
}
@media (max-width: 650px) {
  .how {
    background-image: url(../howttop.png) !important;
  }
  .how .how-w-cont {
    background: #883813 !important;
    padding: 24px;
    border-radius: 12px;
  }
}