.user h1{
    text-align: center;
    color: rgba(249, 231, 197, 1);
}
.user .card-content{
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
}
.user p{
    text-align: center;
}
.user .card h3{
    text-align: center;
    padding: 1rem;
    margin: 0;
}
.user .card{
    position: relative;
    background-color: rgba(136, 56, 19, 0.5);
    border-radius: 20px;
    padding: 1.4rem;
    margin-top: 35px;
    width: 48%;
    height: max-content;
    max-width: 50%;
    color: rgba(249, 231, 197, 1);
    font-weight: 700;
}
.user .card .card-num{
    width: 60px;
    height: 60px;
    background-color: rgba(136, 56, 19, 1);
    transform: rotate(45deg);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -30px;
    left: -30px;
}
.user .card .card-num .number{
    color: white;
    font-size: 20px;
    font-weight: bold;
    transform: rotate(-45deg);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
.user .card .card-info .main-info{
    font-weight: 700;
    border-radius: 3rem;
    margin: 1rem;
    background-color: rgba(136, 56, 19, 1);

}
.user .card .card-info .contact-info{
    margin: 1rem;
    border-radius: 3rem;
    background-color: rgba(136, 56, 19, 1);
}
.user .card .card-info .contact-info p{
    margin: 0;
    font-size: 1.6rem;
    padding: 1rem;

}
.user .card .card-info .mess{
    margin: 1rem;
    border-radius: 3rem;
    background-color: rgba(136, 56, 19, 1);
}
.user .card .card-info .mess p{
    font-weight: 600;
    font-size: 1.6rem;
    padding: 1rem;
}
.user .pen{
    width: 1.6rem;
}
.user .card .edit-btn{
    display: flex;
    justify-content: center;
}
.user .card input{
    background-color: transparent;
    border: none;
    width: 95%;
    font-size: 1.4rem;
    padding: 1rem;
    color: rgba(249, 231, 197, 1);
}   
.user .card .passnone:focus {
  border: none !important;  
  outline: none !important; 
  box-shadow: none !important;
}
