@charset "UTF-8";
body {
  .m-game {
    height: 100vh;
    // // background-image: url(../dashtree.png), url(../dashtree.png);
    // background-repeat: no-repeat, no-repeat;
    // background-position: left 100px top 500px, right 100px top 500px;
    // background-size: 120px, 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .main-game-container {
      position: relative;
      > img {
        position: absolute;
        bottom: -3vh;
        width: 7.64vw;
        height: 24vh;
      }
      .right-tree {
        right: 3.33vw;
      }
      .left-tree {
        left: 3.33vw;
      }
    }
    .container {
      position: relative;
      max-height: auto !important;
      min-height: auto !important;
      @media (min-width: 769px) {
        max-width: 66.67vw !important;
      }
      @media (min-width: 350px) {
        max-width: 66.67vw !important;
      }
      @media (max-width: 1023px) {
        > img {
          display: none;
        }
      }
    }
  }
  .who-answer-text {
    position: absolute;
    top: 1vh;
    left: 50%;
    transform: translateX(-50%);
  }
}
.m-game .m-game-cont {
  // min-height: 80vh;
  // max-height: 110vh;
  overflow: hidden;
}

.m-game h1 {
  font-size: 2.78vw;
  text-align: center;
  margin: 0 !important;
}

.head-cont {
  padding: 0 24px;
  align-items: center;
}

.m-game .head-cont h1 {
  color: #f9e7c5;
  font-size: 3.33vw;
  height: auto !important;
}

.footer-container {
  padding: 0 140px;
}

.m-game .game-foot-cont {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 1vh;
}

.m-game .game-foot-cont .helps {
  display: flex;
  align-items: center;
  gap: 42px;
}

.m-game .game-foot-cont .helps div {
  cursor: pointer;
}
.m-game .head-cont {
  .links {
    button {
      // margin: 1.2vh 0.83vw !important;
      margin: 0 !important;
      padding: 0.5vh 1.6vw !important;
      font-size: 1.89vw !important;
    }
  }
  h1 {
    line-height: 0 !important;
  }
}
.helper {
  padding: 1.67vw;
  background: #f4be32;
  transform: rotate(45deg);
  width: 3.7vw;
  height: 3.7vw;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 1.6s;
  img {
    width: 2.5vw !important;
    height: 2.5vw !important;
  }
}

.helper.disabled {
  transform: scale(0.8) rotate(45deg);
  opacity: 0.3;
  cursor: not-allowed !important;
}

.helper img {
  width: 50px;
  height: 50px;
  transform: rotate(-45deg);
}

.helper.disabled img {
  width: 40px;
  transform: scale(0.9) rotate(-45deg);
}

.helper:first-child img {
  transform: rotate(-72deg);
}

.m-game .cards {
  margin-top: 3.5vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.m-game .cards .card-cate {
  width: 15.97vw;
  height: 26vh;
  position: relative;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: top;
  border-radius: 22.8px;
  border: 2px solid;
}

.m-game .card-cate .card-info {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.m-game .card-cate .card-info .select {
  background-color: #f9e7c5;
  width: 100%;
  height: max-content;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  display: flex;
  justify-content: center;
  padding: 0.4vh;
  max-height: 4.1vh;
}

.m-game .card-cate .card-info .select img {
  margin: 0;
  width: 80px;
}

.m-game .card-cate .card-info img {
  width: 120px;
  margin-top: 5px;
}

.card-info .category-img {
  height: 23.7vh !important;
  // width: 15.97vw !important;
  width: 100% !important;
  margin: 0 !important;
}

.m-game .card-cate .card-info h5 {
  width: 100%;
  height: 4.42vh;
  margin: 0;
  // padding-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom-right-radius: 21px;
  border-bottom-left-radius: 21px;
  background-color: #883813;
  text-align: center;
  color: white;
}

.game-footer {
  // margin-top: 2.7vh;
  background-color: #883813;
  // position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
}
@media (max-height: 1000px) {
  .m-game .m-game-cont {
    height: auto !important;
  }
  .game-footer {
    position: static;
  }
}
.game-footer .t1 {
  color: antiquewhite;
  display: flex;
  flex-direction: column;
}

.game-footer .t1 h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4rem;
  padding: 1vh 2.08vw;
  width: 100%;
  margin-top: 3.2vh;
  margin-bottom: 3.2vh;
  background-color: rgba(249, 231, 197, 0.1);
  font-size: 1.67vw;
}

.game-footer .t1 .score {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.game-footer .t1 .score p {
  font-size: 2.22vw;
  font-weight: 700;
  margin: 0;
  margin-left: 1rem;
  margin-right: 1rem;
}

.game-footer .t1 .score .t-btn {
  width: 2.5vw;
  height: 2.5vw;
  transform: rotate(-45deg);
  background-color: #cf8a41;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  svg {
    width: 1.74vw !important;
    height: 1.74vw !important;
  }
}

.game-footer .t1 .score .t-btn .min {
  transform: rotate(45deg);
  // font-size: 3rem;
  font-weight: 700;
  padding: 0;
  position: absolute;
  // top: -20px;
  // right: 4px;
  color: #883813;
}

.game-footer .t1 .score .t-btn .plus {
  transform: rotate(45deg);
  // font-size: 50px;
  font-weight: 700;
  padding: 0;
  position: absolute;
  // top: -20px;
  // right: 3px;
  color: #883813;
}

.m-game .qa {
  display: flex;
  justify-content: center;
  margin: 4.8vh 3.33vw;
  // margin-bottom: 4.8vh;
  position: relative;
  width: 57.22vw !important;
  height: 48vh !important;
}
.fixed-height {
  // height: 30rem;
}
.m-game .qa .qa-cont {
  color: #f9e7c5;
  display: flex;
  // height: 30rem;E
  width: 57.22vw !important;
  opacity: 1;
  background-color: rgba(136, 56, 19, 0.1);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 0;
  position: relative;
}

.m-game .qa .qa-cont .game-btn {
  position: absolute;
  width: 3.47vw;
  height: 3.47vw;
  z-index: 4;
  background-color: #883813;
  transform: rotate(45deg);
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 1.5vw !important;
    height: 1.5vw !important;
  }
}

.m-game .qa .qa-cont .game-btn .number {
  transform: rotate(225deg);
}

.m-game .qa .qa-cont .ca {
  bottom: -2.5vh;
  right: -0.74vw;
}

.m-game .qa .qa-cont .ca .number {
  transform: rotate(225deg);
  left: 0.1rem;
  top: 0rem;
  position: relative;
}

.m-game .qa .qa-cont .ca .number img {
  width: 1.8rem;
}

.m-game .qa .qa-cont .del {
  right: -0.74vw;
  top: -2.5vh;
}

.m-game .qa .qa-cont .back {
  left: -1.74vw;
  top: -2.5vh;
}

.m-game .qa .qa-cont .back .number {
  transform: rotate(315deg);
}

.m-game .qa .qa-cont .excl {
  bottom: -2.5vh;
  left: -1.74vw;
}

.m-game .qa .qa-cont .excl .number {
  transform: rotate(315deg);
}

.m-game .qa .qa-cont .qora {
  margin: 3.2vh 2.22vw !important ;
  width: 50vw;
  display: flex;
  height: 36.8vh;
  border-radius: 40px;
  background-color: transparent;
  align-items: center;
  justify-content: center;
  padding: 8px;
}

.qora img {
  width: 100%;
  height: 100%;
  border-radius: 40px;
  object-fit: contain;
}

.m-game .g-t1 {
  width: 28.4vw;
  height: 48vh;
  min-width: 28.4vw;
  min-height: 48vh;
  position: absolute;
  top: -0.2vh;
  left: 0;
  z-index: -100;
  border-top: 23.5vh solid transparent;
  border-left: 28.47vw solid #53210a;
  border-bottom: 24.5vh solid transparent;
}

.m-game .g-t1 .g-t1-span {
  font-size: 3rem;
  position: absolute;
  z-index: 2;
  top: -3.9vh;
  right: 14.58vw;
  p {
    font-size: 3.33vw !important;
    margin: 0 !important;
  }
}

.m-game .g-t2 {
  width: 28.4vw;
  height: 48vh;
  min-width: 28.4vw;
  min-height: 48vh;
  position: absolute;
  right: 0;
  top: -0.2vh;
  z-index: 0;
  border-top: 23.5vh solid transparent;
  border-left: 28.47vw solid #53210a;
  border-bottom: 24.5vh solid transparent;
  transform: rotate(180deg);
}

.m-game .g-t2 .g-t2-span {
  transform: rotate(180deg);
  font-size: 3rem;
  position: absolute;
  z-index: 2;
  top: -3.9vh;
  right: 14.58vw;
  p {
    font-size: 3.33vw !important;
    margin: 0 !important;
  }
}

.m-game .g-no-one {
  transform: rotate(45deg);
  width: min(14.44vw, 20.8vh);
  // max-width: 14.44vw;
  height: min(14.44vw, 20.8vh);
  // max-height: 14.44vw;
  // position: absolute;
  top: 12.8vh;
  // right: 8.89vw;
  left: 23.65vw;
  background-color: #53210a;
  display: flex;
  align-items: center;
  justify-content: center;
}

.m-game .g-no-one .g-no-span {
  transform: rotate(315deg);
  font-size: 3rem;
  position: absolute;
  z-index: 2;
  // top: 5vh;
  // right: 1.6vw;
  // width: 10vw;

  p {
    font-size: 3.33vw !important;
    margin: 0 !important;
  }
}

.m-game .cards .card-cate {
  width: 15.97vw;
  height: 32vh;
  position: relative;
  perspective: 1000px;
  /* عشان الفليب */
  border-radius: 22.8px;
  border: 2px solid;
  cursor: pointer;
  border: none !important;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  border-radius: 22.8px;
}

.card-inner .game-q-points {
  margin: 0;
  padding: 0.4vh 20px;
  display: flex;
  gap: 4px;
  background: linear-gradient(90deg, #8838131a 37.5%, rgba(136, 56, 19, 0.2) 100%);
}

.card-inner .game-q-points:hover {
  transform: none;
  box-shadow: none;
}
.card-inner .game-q-points .game-q-points-img {
  width: 1.3vw !important;
  height: 1.3vw !important;
}

.card-cate.flipped .card-inner {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 22.8px;
  backface-visibility: hidden;
  top: 0;
  left: 0;
  overflow: hidden;
  border: 2px solid #000 !important;
  transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
}

.card-front:hover {
  transform: translate(-7px, -9px);
  box-shadow: 10px 9px 0px rgba(0, 0, 0, 0.8);
}
.card-back {
  transform: translate(-7px, -9px);
}
.card-back {
  color: white;
  transform: rotateY(180deg);
  font-size: 2.22vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-back .easy,
.mid,
.hard {
  display: flex;
  align-items: center;
  padding: 0.6vh 6px;
  justify-content: center;
  background-color: #c8843c;
}

.card-back p {
  padding: 0 10px;
  margin: 0 !important;
}

.timer {
  transform: rotate(-45deg);
  font-size: 1.67vw;
  font-weight: 500;
}

.timer[data-turn="2"] {
  color: #f4be32;
}
.m-game .active-player {
  box-shadow: 0 0 20px #eeaf6c;
  border-radius: 12px;
  transition: 0.3s ease;
}
.m-game .turn-indicator {
  transform: translateX(-50%);
  animation: bounce 1s infinite;
  font-size: 24px;
  position: relative;
}
@keyframes bounce {
  0%,
  100% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, -10px);
  }
}
.warning-modal-container {
  width: 400px !important;
  height: 300px;
  .modal-title {
    border: none !important;
  }
  .modal-passed-content {
    height: 100%;
    margin-top: 24px;

    .warning-modal-content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
      > div:first-child {
        font-size: 24px;
      }
      .actions {
        gap: 12px;
        display: flex;
      }
    }
  }
}
@media (max-width: 1279px) {
  .game-footer .footer-container {
    padding: 0 10% !important;
  }
}
@media (max-width: 1000px) {
  .game-foot-cont {
    align-items: center !important;

    .t1 {
      flex-direction: row;
      gap: 24px;
    }
  }
  .card-info {
    > h5 {
      font-size: 12px !important;
    }
  }
  .header-logo {
    display: none !important;
  }
  // .m-game .g-no-one {
  //   width: 100px;
  //   height: 100px;
  //   top: 188px;
  //   left: 240px;
  // }
  // .m-game .g-no-one .g-no-span {
  //   top: -3px;
  //   right: -40px;
  //   font-size: 32px;
  // }
  // .m-game .g-t1 {
  //   border-left: 250px solid #53210a;
  // }
  // .m-game .g-t1 .g-t1-span {
  //   font-size: 32px;
  //   right: 102px;
  // }
  // .m-game .g-t2 {
  //   border-left: 270px solid #53210a;
  // }
  // .m-game .g-t2 .g-t2-span {
  //   font-size: 32px;
  //   right: 88px;
  // }
  // .m-game .qa .qa-cont {
  //   width: 100%;
  // }
  // .m-game .qa .qora {
  //   width: 90% !important;
  // }
  .m-game .helper {
    // width: 60px;
    // height: 60px;
  }
  // .m-game .helper img {
  //   width: 40px;
  //   height: 40px;
  // }
}
// @media (min-width: 769px) {
//   .m-game .container {
//     max-width: 960px !important;
//   }
// }

// @media (max-width: 1024px) {
//   .m-game .g-no-one {
//     width: 150px;
//     height: 150px;
//     top: 160px;
//   }
//   .m-game .g-no-one .g-no-span {
//     top: 23px;
//     right: -9px;
//   }
// }

// @media (max-width: 939px) {
//   .m-game .g-no-one {
//     width: 140px;
//     height: 140px;
//     top: 167px;
//     left: 50%;
//     transform: translateX(-50%) rotate(45deg);
//   }
//   .m-game .g-no-one .g-no-span {
//     top: 14px;
//     right: -20px;
//     font-size: 32px;
//   }
//   .m-game .g-t1 {
//     border-left: 310px solid #53210a;
//   }
//   .m-game .g-t1 .g-t1-span {
//     font-size: 32px;
//     right: 102px;
//   }
//   .m-game .g-t2 {
//     border-left: 310px solid #53210a;
//   }
//   .m-game .g-t2 .g-t2-span {
//     font-size: 32px;
//     right: 88px;
//   }
//   .m-game .qa .qa-cont {
//     width: 100%;
//   }
//   // .m-game .qa .qora {
//   //   width: 90% !important;
//   // }
//   // .m-game .helper {
//   //   width: 50px;
//   //   height: 50px;
//   // }
//   // .m-game .helper img {
//   //   width: 40px;
//   //   height: 40px;
//   // }
// }

// @media (max-width: 800px) {
//   .game-footer .footer-container {
//     padding: 0 5% !important;
//   }
// }
// @media (max-width: 768px) {
//   .helps img {
//     width: 100px !important;
//   }
// }
// @media (max-width: 767px) {
//   .m-game .g-no-one {
//     width: 100px;
//     height: 100px;
//     top: 183px;
//     left: 50%;
//     transform: translateX(-50%) rotate(45deg);
//   }
//   .m-game .g-no-one .g-no-span {
//     top: -3px;
//     right: -40px;
//     font-size: 32px;
//   }
//   .m-game .g-t1 {
//     border-left: 290px solid #53210a;
//   }
//   .m-game .g-t1 .g-t1-span {
//     font-size: 24px;
//     top: -26px;
//     right: 180px;
//   }
//   .m-game .g-t2 {
//     border-left: 290px solid #53210a;
//   }
//   .m-game .g-t2 .g-t2-span {
//     font-size: 24px;
//     right: 181px;
//     top: -26px;
//   }
//   .m-game .qa .qa-cont {
//     width: 100%;
//   }
//   .m-game .qa .qora {
//     width: 90% !important;
//   }
//   // .m-game .helper {
//   //   width: 60px;
//   //   height: 60px;
//   // }
//   // .m-game .helper img {
//   //   width: 40px;
//   //   height: 40px;
//   // }
// }
// @media (max-width: 767px) {
//   .m-game .g-t1 {
//     border-left: 260px solid #53210a;
//   }
//   .m-game .g-t2 {
//     border-left: 260px solid #53210a;
//   }
// }
// @media (max-width: 680px) {
//   .m-game .g-t1 {
//     border-left: 230px solid #53210a;
//   }
//   .m-game .g-t2 {
//     border-left: 230px solid #53210a;
//   }
// }
// @media (max-width: 630px) {
//   .m-game .g-t1 {
//     border-left: 200px solid #50210a;
//   }
//   .m-game .g-t2 {
//     border-left: 200px solid #53210a;
//   }
//   .m-game .g-t1 .g-t1-span {
//     font-size: 24px;
//     top: -26px;
//     right: 120px;
//   }
//   .m-game .g-t2 .g-t2-span {
//     font-size: 24px;
//     right: 121px;
//     top: -26px;
//   }
// }
// @media (max-width: 700px) {
//   .game-footer .game-foot-cont {
//     flex-direction: column;
//     gap: 24px;
//     align-items: center;
//   }
//   .game-footer .footer-container {
//     padding: 0 5% !important;
//   }
// }
// @media (max-width: 536px) {
//   .m-game .g-no-one {
//     width: 90px;
//     height: 90px;
//     top: 188px;
//     left: 50%;
//     transform: translateX(-50%) rotate(45deg);
//   }
//   .m-game .g-no-one .g-no-span {
//     top: -8px;
//     right: -56px;
//     font-size: 24px;
//   }
//   .m-game .g-t1 {
//     border-left: 160px solid #53210a;
//   }
//   .m-game .g-t1 .g-t1-span {
//     font-size: 24px;
//     top: -26px;
//     right: 80px;
//   }
//   .m-game .g-t2 {
//     border-left: 160px solid #53210a;
//   }
//   .m-game .g-t2 .g-t2-span {
//     font-size: 24px;
//     right: 80px;
//     top: -26px;
//   }
//   .m-game .qa .qa-cont {
//     width: 100%;
//   }
//   .m-game .qa .qora {
//     width: 90% !important;
//   }
// }
// @media (max-width: 500px) {
//   .m-game .g-no-one {
//     width: 90px;
//     height: 90px;
//     top: 188px;
//     left: 50%;
//     transform: translateX(-50%) rotate(45deg);
//   }

//   .m-game .g-no-one .g-no-span {
//     top: -8px;
//     right: -56px;
//     font-size: 24px;
//   }
//   .m-game .g-t1 {
//     border-left: 105px solid #53210a;
//   }
//   .m-game .g-t1 .g-t1-span {
//     font-size: 18px;
//     top: -26px;
//     right: 55px;
//   }
//   .m-game .g-t2 {
//     border-left: 125px solid #53210a;
//   }
//   .m-game .g-t2 .g-t2-span {
//     font-size: 18px;
//     right: 55px;
//     top: -26px;
//   }
//   .m-game .qa .qa-cont {
//     width: 100%;
//   }
//   .m-game .qa .qa-cont h1 {
//     font-size: 32px;
//   }
//   .m-game .qa .qora {
//     width: 90% !important;
//   }
// }
// @media (max-width: 390px) {
//   .m-game .g-no-one {
//     width: 70px;
//     height: 70px;
//     top: 188px;
//     left: 50%;
//     transform: translateX(-50%) rotate(45deg);
//   }
//   .m-game .g-no-one .g-no-span {
//     top: -8px;
//     right: -56px;
//     font-size: 24px;
//   }
//   .m-game .g-t1 {
//     border-left: 105px solid #53210a;
//   }
//   .m-game .g-t1 .g-t1-span {
//     font-size: 18px;
//     top: -26px;
//     right: 55px;
//   }
//   .m-game .g-t2 {
//     border-left: 125px solid #53210a;
//   }
//   .m-game .g-t2 .g-t2-span {
//     font-size: 18px;
//     right: 55px;
//     top: -26px;
//   }
//   .m-game .qa .qa-cont {
//     width: 100%;
//   }
//   .m-game .qa .qa-cont h1 {
//     font-size: 32px;
//   }
//   .m-game .qa .qora {
//     width: 90% !important;
//   }
// }

@media (max-width: 500px) {
  .game {
    background-image: none !important;
  }
}
